body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Error message */
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styling for the top navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 3px 20px;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  flex: 1;
  text-align: center;
}

.footer-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  padding: 3px 10px;
  z-index: 1000;
}

.footer-navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-navbar li {
  flex: 1;
  text-align: center;
}

.navbar a,
.footer-navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
}

.navbar button {
  font-size: 1.05rem;
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
}

.navbar a:hover,
.footer-navbar a:hover {
  background-color: #555;
  border-radius: 4px;
}

.navbar button:hover {
  background-color: #555;
  border-radius: 4px;
}

.footer-navbar .highlight {
  color: yellow;
}

.navbar,
.footer-navbar {
  font-size: 1.05rem;
  height: 50px;
  line-height: 20px;
}

/* Main container styling to avoid content underlapping navbars */
.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  width: 100%;
}

/* Community Page Styling */
.community-container {
  margin-top: 40px;
  width: 100%;
}
.community-header {
  padding-left: 10px;
  margin-top: -30px;
  margin-bottom: 10px;
}

.messages-container {
  flex: 1;
  height: calc(100vh - 225px);
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #a3caf3;
  padding: 10px;
  box-sizing: border-box;
}

.message-item {
  margin-bottom: 15px;
  word-wrap: break-word;
}

.message-item:first-child,
.message-item + .message-item:not(:first-child) strong {
  margin-top: 10px;
}

.timestamp {
  font-size: 0.85em;
  color: #888;
  margin-right: 10px;
}

.message-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-top: 1px solid #ccc;
  word-wrap: break-word; /* Has message wrap back around to next line */
}

.message-input input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.message-input button {
  padding: 8px 16px;
  background-color: #3e99fa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.message-input button:hover {
  background-color: #0056b3;
}

/* Friends Page Styling */

.friends-page {
  padding: 0px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

/* Pending Friend Requests Section */
.friends-page h2 {
  margin: 0 0 10px 10px;
}

.friends-page ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0 0 20px 10px;
}

.friends-page li {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: 5px;
  width: 100%;
  border: 1px solid black;
}

.friends-page li a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.request-btns {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.friends-page li button:hover {
  background-color: #0056b3;
}

/* My Friends Section */
.friends-page .my-friends {
  margin-top: 20px;
}

.friends-page .friend-item {
  list-style: none;
}

.friends-page a {
  text-decoration: none;
  color: #007bff;
  display: block;
  transition: color 0.3s;
}

.friends-page a:hover {
  color: #0056b3;
}

/* General container for Profile Page */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%;
  max-width: 70%;
}

.username {
  display: flex;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}

.description {
  width: 80%;
  margin-top: -15px;
  gap: 10px;
}

.description-header {
  text-align: center;
}

.profile-btns {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 10px;
}

.profile button {
  padding: 8px 16px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-friend {
  width: 30%;
  display: flex;
  justify-content: center;
}

.profile button:hover {
  background-color: #0056b3;
}

.profile .friend-status {
  font-size: 1em;
  color: #666;
  margin-top: 8px;
  text-align: center;
}

.profile > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

/* Description section */
.profile h4 {
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 10px;
  display: inline-block;
}

.description-text {
  font-size: 1em;
  color: #333;
  text-align: left;
  margin-top: 5px;
  background-color: #ccc;
}

/* Edit Description button to the right of the header */
.edit-description-btn {
  margin-left: 20px;
}

.edit-description-form-btns {
  display: flex;
  justify-content: space-evenly;
}

.edit-description-form-btns > button {
  width: 30%;
}

/* Description form styling */
textarea {
  width: 100%;
  max-width: 100%;
  min-height: 80px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit and Cancel buttons styling */
textarea + br + button {
  margin-top: 10px;
  margin-right: 10px;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.cancel-button:hover {
  background-color: #999;
}

/* Favorite Products section styling */
.favorited-products {
  width: 80%;
}

.favorited-products-header {
  width: 100%;
  text-align: center;
}

.favorited-product-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.favorited-product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dfdfdf;
  width: 80%;
  padding: 10px;
}

/* Product title */
.product-item h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-item p {
  margin: 5px 0;
}

/* Main container styling for AddProduct.js */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 60%;
  padding-top: 20px;
}

.add-product-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 70%;
  padding: 10px;
}

.submitted-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Styling for ProductForm component */
.product-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.product-link input,
.product-link button {
  width: 100%;
  padding: 10px 0px 10px 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-link button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-link button:hover {
  background-color: #218838;
}

.product-link div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 95%;
}

.product-link select {
  width: 100%;
  height: 8.5rem;
  font-size: 1rem;
  padding: 5px 100% 5px 5px;
  box-sizing: border-box;
}

.product-link label {
  font-size: 1rem;
}

/* Submitted data container */
.submitted-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.submitted-data h2 {
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.submitted-data p {
  font-size: 1em;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}

/* Buttons container within submitted-data */
.data-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.data-btns button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Edit button */
.data-btns button:nth-child(1) {
  background-color: #007bff;
}

.data-btns button:hover:nth-child(1) {
  background-color: #0056b3;
}

/* Clear button */
.data-btns button:nth-child(2) {
  background-color: #ffc107;
}

.data-btns button:hover:nth-child(2) {
  background-color: #e0a800;
}

/* Confirm button */
.data-btns button:nth-child(3) {
  background-color: #28a745;
}

.data-btns button:hover:nth-child(3) {
  background-color: #218838;
}

/* Container for ProductList.js */
.products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.sort-select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.sort-dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Products grid */
.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.product-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.product-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.product-name {
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.product-url,
.product-price,
.product-category,
.product-favorited {
  margin: 5px 0;
  word-wrap: break-word;
}

.product-url a {
  color: #007bff;
  text-decoration: none;
}

.product-url a:hover {
  text-decoration: underline;
}

.favorite-star {
  font-size: 20px;
  color: #ccc;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.favorite-star.filled {
  color: #ffd700;
}
.favorite-star:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.product-item.favorited {
  border: 2px solid gold;
  background-color: #fff8dc;
}

.product-button {
  padding: 10px 15px;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

/* Delete button */
.product-button:nth-child(5) {
  background-color: #dc3545;
}

.product-button:nth-child(5):hover {
  background-color: #c82333;
}

/* Edit button */
.product-button:nth-child(6) {
  background-color: #007bff;
}

.product-button:nth-child(6):hover {
  background-color: #0056b3;
}

/* Favorite button */
.product-button:nth-child(7) {
  background-color: #ffc107;
}

.product-button:nth-child(7):hover {
  background-color: #e0a800;
}

.apply-sort-button {
  padding: 12px 16px;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pagination-controls {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.pagination-controls > button:enabled {
  cursor: pointer;
}

/* Login and Register */
.form-container {
  width: 50%;
  max-width: 70%;
  margin: 50px auto 0;
  padding: 20px;
  background-color: #ebe0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.form-input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.loading-text {
  text-align: center;
  color: #333;
}

.error-text {
  color: red;
  font-weight: bold;
  text-align: center;
}

.form-navigation {
  text-align: center;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.form-navigation p {
  margin: 0px;
}

.form-link {
  display: flex;
  justify-content: center;
  color: #007bff;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.request {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resend-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 5px;
  margin-top: 10px;
}

/* Offline View */
.offline {
  text-align: center;
  font-size: 2.5rem;
  color: red;
  margin: auto;
}

/* Responsive design: adjusting to screen sizes */
@media (max-width: 768px) {
  .block-container {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .navbar,
  .footer-navbar {
    position: static;
    height: 50px;
    padding: 0px 20px;
  }

  .footer-navbar {
    margin-top: auto;
  }

  .form-container {
    margin: 50px auto auto;
    padding: 20px;
    background-color: #ebe0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form {
    width: 100%;
  }

  .add-product-container {
    margin-top: 5%;
  }

  .container {
    padding-top: 0px;
  }

  .sort-dropdowns {
    flex-direction: column;
    gap: 10px;
    margin-top: -5px;
  }

  .product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .community-header {
    margin-top: 0px;
  }

  .community-container {
    margin-top: 0px;
  }

  .messages-container {
    height: calc(100vh - 207px);
  }

  .favorited-product-item {
    width: 100%;
  }

  .edit-description-btn {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .product-link,
  .submitted-data {
    max-width: 100%;
  }

  .data-btns {
    flex-direction: column;
    gap: 10px;
  }

  .form-container {
    margin: 50px auto auto;
    padding: 15px;
  }

  .form-title {
    font-size: 1.25em;
  }

  .form-input,
  .form-button {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .product-item {
    width: 95%;
  }

  .pagination-controls {
    width: 60%;
  }
}
